// app global css in SCSS form
body {
  background-color: $grey-1;
}

.ft-sz-18 {
	font-size: 18px;
}

.text-anomaly {
  color: #F44336 !important;
}

.bg-anomaly {
  background: #F44336 !important;
}