// app global css in SCSS form
<<<<<<< HEAD
body {
  background-color: $grey-1;
}

=======
>>>>>>> 6626d0df38e6f93602e8e12d6cf77847209cfa07
.ft-sz-18 {
	font-size: 18px;
}

.text-anomaly {
  color: #F44336 !important;
}

.bg-anomaly {
  background: #F44336 !important;
}